 <div class="container position-relative px-0 ">
    <a class="" href="/">
        <img class="img-fluid rounded-2 opacity-50 cardPartial" src="https://static.tcgcollector.com/content/images/2a/99/8c/2a998c029576a75b95def3e1b031147641f650b4752620170925063af12d4771.jpg" alt="">
        <p class="card-text fontColour position-absolute start-0 bottom-0 bgColour  pe-1 rounded-end-1  "><small>1 / 205  | BS</small></p>
    </a>

</div>
