<!-- partial to allow user to add notes -->
<div class="modal fade" id="noteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h3 class="modal-title" id="noteModalLabel">Add note for (Specific card info)</h5>
            </div>

            <div class="modal-body">
                <div>
                    <textarea class="form-control" id="cardNoteTextArea" rows="6" maxlength="500" placeholder="Enter note for card"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary     me-2" data-dismiss="modal"
                    onclick="closeModal()">Cancel</button>
                <button type="button" class="btn actionBtn" onclick="submitNote()">Submit</button>
            </div>
        </div>
    </div>
</div>



<script>

    const openNoteModal = () => {
        // Need to come back to this and populate with specicific card info

        // Show the modal
        const modal = document.getElementById('noteModal');
        modal.classList.add('show');
        modal.style.display = 'block';
        document.body.classList.add('modal-open');

        // Allow modal to close when clicking outside
        document.addEventListener('click', handleClickOutside('noteModal', closeNoteModal));


    };

    const submitNote = () => {
        // need to come back and add some functionality for sending notes to database
        closeModal();
    };

    const closeNoteModal = () => {
        // get this modal and hide it
        const modal = document.getElementById('noteModal');
        modal.classList.remove('show');
        modal.style.display = 'none';
        document.body.classList.remove('modal-open');

        // clear the text area
        document.getElementById('cardNoteTextArea').value = '';

        // remove event listener for clicking outside
        document.removeEventListener('click', handleClickOutside('noteModal', closeNoteModal));
    };



</script>