<!-- partial to allow user to add notes -->
<div class="modal fade" id="noteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h6 class="modal-title fw-bold " id="noteModalLabel<%=  %>">Hello </h6>
            </div>

            <div class="modal-body">
                <div>
                    <textarea class="form-control" id="cardNoteTextArea" rows="6" maxlength="500" placeholder="Enter note for card"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary     me-2" data-dismiss="modal"
                    onclick="closeNoteModal()">Cancel</button>
                <button type="button" class="btn actionBtn" onclick="submitNote()">Submit</button>
            </div>
        </div>
    </div>
</div>



<script>
    // modal label and text area compontents
    const modalLabel = document.getElementById('noteModalLabel');
    const textArea = document.getElementById('cardNoteTextArea');
    let lastOpenedCardId = null;

    const openNoteModal = (cardId, cardName, cardNumber, set_name, cardNote, collectionId ) => {
        // update the modal label to show current cards name and set
        modalLabel.innerHTML = `Add note for ${cardName} (${set_name} - Card no. ${cardNumber} )`;

        // check to see if we need to update the text area
        if(lastOpenedCardId != cardId){
            // populate text area  with existing note, if any
            $('#cardNoteTextArea').val(cardNote.trim());
        }
        
        // store attribute values for card and colelction id for use when submitting note
        $('#noteModal').attr('data-card-id', cardId);
        $('#noteModal').attr('data-collection-id', collectionId);

        // show the modal
        const modal = document.getElementById('noteModal');
        modal.classList.add('show');
        modal.style.display = 'block';
        document.body.classList.add('modal-open');

        // allow modal to close when clicking outside
        document.addEventListener('click', handleClickOutside('noteModal', closeNoteModal));

    };

    // invoke post reques to update the record in the database or create a new one if required.
    const submitNote = () => {
        $.ajax({
        url: `/collections/updateRecord`,
        type: 'POST',
        data: { 
            cardId:  $('#noteModal').attr('data-card-id').trim(), 
            collectionId: $('#noteModal').attr('data-collection-id').trim(),
            copies: null,
            notes: textArea.value
        },
        success: (response) => {
            console.log('Collection entry updated successfully:', response);
        },
        error: (xhr, status, error) => {
            console.error('Error updating Collection entry:', error);
        }
    });

        closeNoteModal();
    };

    const closeNoteModal = () => {
        // get this modal and hide it
        const modal = document.getElementById('noteModal');
        modal.classList.remove('show');
        modal.style.display = 'none';
        document.body.classList.remove('modal-open');

        // remove event listener for clicking outside
        document.removeEventListener('click', handleClickOutside('noteModal', closeNoteModal));
    };



</script>