
<nav class="navbar navbar-expand-lg navbar-styles fixed-top">
  <div class="container-fluid navbar-styles">

    <div class="navbar-styles">
      <a class="navbar-brand" href="/">
        <img src="/images/pokeBall.png" alt="Logo" width="34" height="27" class="d-inline-block align-middle me-1 ">
        <span class="fw-bold d-inline-block align-middle  p-2 h-100 ">Pokemon Collection</span>
      </a>
    </div>

    <div data-bs-theme="dark">
      <button class="navbar-toggler shadow-none border-0 " type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="sidebar offcanvas offcanvas-start w-auto  " tabindex="-1" id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel">

      <div class="offcanvas-header border-bottom border-white " data-bs-theme="dark">
        <a class="navbar-brand" href="/">
          <img src="/images/pokeBall.png" alt="Logo" width="34" height="27" class="d-inline-block align-middle me-1 ">
          <span class="fw-bold d-inline-block align-middle  h-100 ">Pokemon Collection</span>
        </a>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>

      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

          <li class="nav-item">
            <a class="nav-link active mx-2" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="#">Collections</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="/expansions?includeSets=true">Expansions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" href="/cards">Cards</a>
          </li>

          <%# More dropdown %>
            <li class="nav-item dropdown d-none d-lg-block mx-2">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                More
              </a>
              <ul class="dropdown-menu dropdown-menu-lg-end">
                <li><a class="dropdown-item" href="/about">About</a></li>
                <li><a class="dropdown-item" href="#">Contact Us</a></li>
              </ul>
            </li>

            <%# login dropdown %>
            <% if (loggedIn) { %>
             <li class="nav-item dropdown ps-5 ms-5  d-inline-block align-middle fixed-left d-none d-lg-block">
                <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <i class="fas fa-user d-inline-block align-middle" style="color: #EB1C24;"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-lg-end">
                  <li class=" border-bottom border-1 border-light-subtle  px-3 ">
                    <span>Logged in as </span>
                    <span class="fw-semibold "><%= user.account.user_name %></span>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/account/settings">
                      <i class="fas fa-gear d-inline-block align-middle pe-2 py-2"></i>
                      <span>View Profile Page</span>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/account/logout">
                      <i class="fas fa-right-from-bracket d-inline-block align-middle pe-2 py-2"></i>
                      <span>Logout</span>
                    </a>
                  </li>
                </ul>
              </li>
            <% } else { %>
              <li class="nav-item dropdown ps-5 ms-5  d-inline-block align-middle fixed-left d-none d-lg-block">
                <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <i class="fas fa-user d-inline-block align-middle" style="color: #ffffff;"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-lg-end">
                  <li><a class="dropdown-item" href="/account/login">
                      <i class="fas fa-arrow-right-to-bracket d-inline-block align-middle pe-2 py-2"></i>
                      <span>Login</span>
                    </a></li>
                  <li><a class="dropdown-item" href="/account/createAccount">
                      <i class="fas fa-user-plus d-inline-block align-middle pe-2 py-2"></i>
                      <span>Create Account</span>
                    </a></li>
                </ul>
            <% } %>
            </li>
              

              <%# More and login sidebar content %>
                <div class="d-lg-none px-0">
                  <div class="border-top border-white my-2"></div>
                  <li class="nav-item ">
                    <a class="nav-link mx-2" href="/about">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mx-2" href="#">Contact</a>
                  </li>

                  <% if (loggedIn) { %>
                    <div class="border-top border-white my-2"></div>
                    <li class="nav-item ">
                      <a class="nav-link mx-2" href="/account/settings">
                        <i class="fas fa-gear d-inline-block align-middle pe-2 py-2"></i>
                        <span>View Profile Page</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link mx-2" href="/account/logout">
                        <i class="fas fa-right-from-bracket pe-2"></i>
                        <span>Logout</span>
                      </a>
                    </li>
                   
                  <% } else { %>
                    <div class="border-top border-white my-2"></div>
                    <li class="nav-item ">
                      <a class="nav-link mx-2" href="/account/login">
                        <i class="fas fa-arrow-right-to-bracket d-inline-block align-middle pe-2 py-2"></i>
                        <span>Sign in</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link mx-2" href="/account/createAccount">
                        <i class="fas fa-user-plus pe-2"></i>
                        <span>Create Account</span>
                      </a>
                    </li>
                  <% } %>
                  

                </div>
        </ul>
      </div>
    </div>
  </div>
</nav>