
<%# partial to store some summary data about expansions and sets in each expansion %>
<div class="container position-relative px-0 border-1 rounded-2 border-dark-subtle border px-3 py-2 bg-light-subtle ">
    
    <div class="row mb-3">
        <span class="col-auto ">
            Base Set |
            <small>BS</small>
        </span>
        <div class="col d-flex justify-content-end">
            <small class="mb-0">Jan 01, 1999</small>
        </div>
    </div>

    <div class="row align-items-center mb-2">
        <img class="setLogo col-lg-6 col-md-5 col-4 img-fluid" src="https://static.tcgcollector.com/content/images/00/1b/78/001b78bd3f9970e3551a6f8d7397113750b2e1f116b0d06c2bac935a7d33c2b3.png" alt="">
    </div>

    <div class="row mb-2 d-flex align-items-center ">


        <div class="col-12 col-sm-7">
            <div class="d-flex  justify-content-between align-items-center">            
                <div>
                    <small > 1/102</small>
                </div>

                <div class="">
                    <small > 25%</small>
                </div>
            </div>

            <div class="progress " style="height: 10px;">
                <%# dummy progress bar used as outline of full bar %>
                <div class="progress-bar bg-primary " role="progressbar" style="width: <%= 25 %>%; height: 10px;" aria-valuenow=<%= 25 %> aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>

        <div class="col-12 col-sm-5 d-flex justify-content-center   justify-content-sm-end my-2 my-sm-0   ">
            <a href="#" class="btn actionBtn btn-sm btn-light ">View Set</a>
        </div>
        
          
          

    </div>
    

</div>


