:root {
    --colourMain: #E8E7E7; /* Corrected to white */
    --colourBold: #203C6B; /* Set to dark blue */
    --colourAction: #EB1C24; /* Set to pokeball red*/
    --colourMatchBg: #EBEBEB /*Set to match background image*/
}

body{
    background-color: var(--colourMain);
    background-image: url('../../images/background/brushed_alu.webp'); 
    background-repeat: repeat; /* Repeat the pattern */
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    min-height: 62px;
}

main{
    padding-top: 30px;
    color: rgb(23, 26, 26) ;
}

.container-fluid, .container{
    max-width: 1248px;
}

footer{
    background-color: var(--colourBold);
}

.bgColour{
    background-color: var(--colourMatchBg);
}

 /***** hide form control outline on focus *****/ 
.noFocusOutline:focus {
    outline: none;
    box-shadow: none;
}
  

.actionBtn, .actionBtn:hover{
background-color: var(--colourAction);
color: white;
border-radius: 6px;
}

.negativeActionBtn{
    background-color: var(--colourMatchBg);
    border-color: grey;
    border-radius: 6px;
}

.negativeActionBtn:hover{
    border-color: var(--colourAction);
}

.btn:hover{
    opacity: 90%;
}

.fontColour{
    color: darkslategray;
}

/*Beginning of navbar styles*/
.navbar-styles{
   background-color: var(--colourBold);
   color : white !important;
}

.navbar-brand, .nav-link, .offcanvas-header {
    color: white !important;
}

.nav-link:hover, .nav-link:active{
    color: var(--colourAction) !important;
    transform: scale(1.1);
}

.sidebar, .bgBoldColour{
    background-color: var(--colourBold);
}


@media (max-width: 768px) {
    .nav-link{
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
    }
  }
/*End of navbar styles*/

/*Start of Card Partial Styles*/
.cardPartial:hover{
    opacity: 100% !important;
}

@media (max-width: 768px) {
    .cardPartialSingle{
        max-width: 320px;
    }
  }

  .cardPartialSingle{
    max-width: 320px;
    min-width: none;
  }

@media (min-width: 768px) {
  .singleCardDetails{
    margin-left: 20px;
    width: calc(100% - (340px));
  }
}
/*End of Card Partial Styles*/

/*Start of set partial styles*/
.setLogo{
    min-width: 110px;
}
/*End of set partial styles*/


/*Start of form styles*/
.was-validated .form-control:valid{
    background-image: none ;
    border-color: #ced4da;

}

.form-label{
    font-weight: bold ;
}
/*End of form styles*/


/*Start of select box styles*/
@media (min-width: 768px) {
    .selectBox{
      border: transparent;
    }
  }
/*End of select box styles*/

/*Start of filter styles*/
@media screen and (min-width: 840px){
    .filterContainer{
        width: 820px;
    }
}

.accordion-item{
    margin-bottom: 8px;
}
/*End of filter styles*/